<ul class="nav nav-tabs">
  <li role="presentation" class="active"><%= link_to "Highest Rated", movies_path %></li>
  <li role="presentation"><%= link_to "New Releases", movies_path %></li>
  <li role="presentation"><%= link_to "Search", movies_path %></li>
</ul>
