<div class="row">
  <div class="col-sm-12">
    <h1>Admin Panel</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <li role="presentation" <% if view =="users" %> class="active" <% end %> ><%= link_to "User List", admin_users_path %></li>
      <li role="presentation" <% if view =="new_user" %> class="active" <% end %> ><%= link_to "New User", new_admin_user_path %></li>
      <li role="presentation" <% if view =="movies" %> class="active" <% end %> ><%= link_to "Movie List", admin_movies_path %></li>
      <li role="presentation" <% if view =="new_movie" %> class="active" <% end %> ><%= link_to "New Movie", new_admin_movie_path %></li>
    </ul>
  </div>
</div>