<% if impersonating? %>
  <div class="row under_navbar">
    <div class="col-sm-12">  
      <span>Impersonating <%= current_user.full_name %>. <%= link_to "Switch back to admin account", session_path(current_user), method: :patch %></span>
    </div>
  </div>
<% end %>